/* Work sans google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.space{
    margin-left: 8%;
    margin-right: 8%;
}

:root{
    --title-linear-color: #C050D1;
    --description-color: #534C64;
    --title-color: #0B0223;
}

/* nav container styles  */

.g-text{
    color: #FF42A5;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0rem;
}

.tabs-content ul{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}

.tabs-content{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}

.tabs-content ul li{
    list-style-type: none;
}

.tabs-content li a{
    text-decoration: none;
    color: #3C354F;
}

.site-logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.nav-btn{
    border: none;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* banner container styles  */

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.banner-img img{
    width: 100%;
}

.banner-btn1{
    border: none;
    color: #fff;
    background-color: #FF42A5;
    border-radius: 3rem;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 20px;
}

.banner-title{
    margin-bottom: 2rem;
    font-size: 5rem;
    color: var(--title-linear-color);
    font-weight: 800;
}

.banner-sub-title{
    color: var(--title-color);
    font-size: 3rem;
    font-weight: 600;
}

.banner-desc{
    color: var(--description-color);
    margin-bottom: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.banner-button{
    margin-top: 2rem;
}

.banner-btn2{
    border: none;
    color: #fff;
    background-color: #4EC5F7;
    border-radius: 3rem;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 20px;
}

/* We are gamer container styles  */

.we-gamer-container{
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.we-gamer-image img{
    width: 100%;
    flex: auto;
}

.we-gamer-content{
    flex: auto;
    width: 50%;
    text-align: right;
}

.we-gamer-title{
    color: var(--title-linear-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.we-gamer-desc{
    color: var(--description-color);
    margin-bottom: 1rem;
}

.we-gamer-btn{
    border: none;
    color: #fff;
    background-color: #FF42A5;
    border-radius: 3rem;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 2rem;
}

/* Funny Videos container styles  */

.funny-videos-container{
    margin-bottom: 3rem;
}

.funny-videos-content{
    text-align: center;
    margin-bottom: 3rem;
}

.funny-videos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem;
}

.funny-video img{
    width: 100%;
    margin-bottom: 1rem;
}

.funny-videos-title{
    font-weight: 700;
    font-size: 3rem;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.funny-videos-desc{
    color: var(--description-color);
}

.funny-text{
    color: var(--title-linear-color);
}

.play-desc{
    color: #FF42A5;
}

.funny-play{
    position: relative;
}


.play{
    position: absolute;
    text-align: center;
    left: 30%;
    top: 30%;
}

.play img{
    width: 50px;
}

/* Play Instantly container styles  */

.play-instantly-container{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.play-instantly-image > img{
    width: 100%;
}

.play-instantly-title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.play-instantly-desc{
    width: 70%;
    color: var(--description-color);
}

.play-instantly-image{
    position: relative;
}

.other-img{
    position: absolute;
    left: -20%;
    top: 60%;
}

.other-img img{
    width: 200px;
}

.play-text{
    color: var(--title-linear-color);
}

